<body ng-app="quenmatkhau">
    <div class="col-12 m-auto">
        <nav ng-include="'head.html'"></nav>

        <div class="container-fluid mt-1">
            <div class="row no-gutter">
                <!-- The image half -->
                <div class="col-md-6 d-none d-md-flex bg-image"></div>


                <!-- The content half -->
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">

                        <!-- Demo content-->
                        <div class="container" ng-controller="frmdn">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mx-auto">
                                    <h3 class="display-4">QUÊN MẬT KHẨU</h3>
                                    <p class="text-muted mb-4">Bạn điền Email đã đăng ký để khôi phục mật khẩu nhé..</p>
                                    <form>
                                        <div class="form-group mb-3">
                                            <input id="inputEmail" type="account" ng-model="email" placeholder="Email" required="" autofocus="" class="form-control rounded-pill border-0 shadow-sm px-4">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" ng-click="getPass()">Xác nhận thông tin</button>
                                        <button type="button" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"><a href="index.html" style="color: black;">Quay Lại Trang chủ</a></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- End -->

                    </div>
                </div>
                <!-- End -->

            </div>
        </div>
    </div>

</body>